* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body { height: 100%; }
body {
  margin: 0;
  /* font-family: Roboto, "Helvetica Neue", sans-serif; */
  font-family: 'Times New Roman', Times, serif;
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

.spinner-container {
  position: fixed;
  background: rgba(0, 0, 0, 0.32);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 2000;
}
